//
// user-variables.scss
// Use this to overwrite Bootstrap and Geeks variables
//
// Example of a variable override to change Geeks primary color
// Remove the "//" to comment it in and see it in action!
// $primary: #000;
.hero-txt h1 {
	// font-size: 4vw;
	font-size: 9.7vmin;
}

.hero-txt p {
	font-size: 4vmin;
	text-align: justify;
}

.justify {
	text-align: justify;
}

.loading {
	bottom: 0;
	left: 45%;
	max-width: 100px;
	position: absolute;
}

.hide {
	display: none;
	transition: ease 0.4s;
}
.show {
	display: block;
	transition: ease 0.4s;
}

.center {
	margin-left: auto;
	margin-right: auto;
}

.captchaError {
	border: solid;
	border-color: red;
}

.justify {
	text-transform: justify;
}

.error {
	display: block;
	width: 100%;
	padding: 0.75rem 1.25rem;
	font-size: 0.875rem;
	font-weight: 400;
	line-height: 1.6;
	color: #18113c;
	background-color: #fff;
	background-clip: padding-box;
	border: 1px solid #e8e7ed;
	-webkit-appearance: none;
	appearance: none;
	border-radius: 0.25rem;
	transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
	border-color: #e53f3c;
	padding-right: calc(1.6em + 1.5rem);
	background-image: url('data:image/svg+xml,%3csvg xmlns=%27http://www.w3.org/2000/svg%27 viewBox=%270 0 12 12%27 width=%2712%27 height=%2712%27 fill=%27none%27 stroke=%27%23e53f3c%27%3e%3ccircle cx=%276%27 cy=%276%27 r=%274.5%27/%3e%3cpath stroke-linejoin=%27round%27 d=%27M5.8 3.6h.4L6 6.5z%27/%3e%3ccircle cx=%276%27 cy=%278.2%27 r=%27.6%27 fill=%27%23e53f3c%27 stroke=%27none%27/%3e%3c/svg%3e');
	background-repeat: no-repeat;
	background-position: right calc(0.4em + 0.375rem) center;
	background-size: calc(0.8em + 0.75rem) calc(0.8em + 0.75rem);
}

.clearError {
	display: block;
	width: 100%;
	padding: 0.75rem 1.25rem;
	font-size: 0.875rem;
	font-weight: 400;
	line-height: 1.6;
	color: #18113c;
	background-color: #fff;
	background-clip: padding-box;
	border: 1px solid #e8e7ed;
	-webkit-appearance: none;
	appearance: none;
	border-radius: 0.25rem;
	border-color: primary;
	transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

input:active {
	border-color: primary;
}

.validationError {
	color: #e53f3c;
}

.pointer {
	cursor: pointer;
}

.hide {
	top: -100px;
	transition: ease 0.7s;
}
.show {
	top: 0px;
	transition: ease 0.5s;
}

.navOptions {
	position: fixed;
}

.corners {
	border-radius: 0.25rem;
}

.pop {
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
