//
// user-variables.scss
// Use this to overwrite Bootstrap and Geeks variables
//
// Example of a variable override to change Geeks primary color
// Remove the "//" to comment it in and see it in action!
// $primary: #000;
.hero-txt h1 {
	// font-size: 4vw;
	font-size: 9.7vmin;
}

.hero-txt p {
	font-size: 4vmin;
	text-align: justify;
}

.justify {
	text-align: justify;
}

.loading {
	bottom: 0;
	left: 45%;
	max-width: 100px;
	position: absolute;
}

.hide {
	display: none;
	transition: ease 0.4s;
}
.show {
	display: block;
	transition: ease 0.4s;
}

.center {
	margin-left: auto;
	margin-right: auto;
}

.captchaError {
	border: solid;
	border-color: red;
}
